$theme-color:#ffc420;
$bg-color:#0f0f0f;
$wh-color:#ffffff;
$bl-color:#3c4761;
$gray-color:#c7c7c7;


$th-color:#87509c;
$th-color1:#17c2a4;
$th-color2:#ffdd99;
$th-color3:#d74680;
$th-color4:#3c5499;
$th-color5:#e7f1f8;

$hv-color:#30bae7;
$hv-color2:#643a79;

$font:'Titillium Web', sans-serif;